body {
  padding-top: 50px;
}
.em-text{
  color: #3498eb !important;
}
.jumbotron{
 color:#000;


}

.form{
  max-width: 330px;
  border-style: solid;
  border-color: black;
widows: 30px;
padding-top: 40px;
padding-bottom: 40px;
align-content: center;
margin-left: 500px;
}
.index{
  background: url(../images/web-1012467_1920.jpg) no-repeat top center !important ;
  height: 598px;
  color:#fff;
}
